$icon-color:        #64500f;
$background-nav:    #dabb5b;
$highlight-menu:    #f2c94c;
$background-menu:   #807e7e;

$card-shadow:       0px 0px 3px black;

.bg-nav{
   background-color: $background-nav;
   box-shadow: $card-shadow;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
}
.nav-icon i{
   font-size: 25px;
   color: white;
}
.buttons .nav-icon{
   height: inherit;
   width: 50px;
   margin: 10px;
}
.nav-logo{
   width: 150px;
}
.spacer-menu{
   height: 65px;   
}

/* The side navigation menu */
.sidenav {
   height: calc(100% - 90px); /* 100% Full-height */
   position: fixed; /* Stay in place */
   z-index: 1; /* Stay on top */
   top: 90px; /* Stay at the top */
   left: 0;
   background-color: #807e7e; /* Black*/
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 60px; /* Place content 60px from the top */
   transition: 0.5s; /* 0.5 second transitiSon effect to slide in the sidenav */
 }
 
 /* The navigation menu links */
 .sidenav a {
   padding: 14px 8px 14px 32px;
   margin: 5px 0px;
   text-decoration: none;
   font-size: 14pt;
   color: #FFFFFF;
   display: block;
   transition: 0.3s;
   background-color: #f2c94c;
 }
 
 /* When you mouse over the navigation links, change their color */
 .sidenav a:hover {
   color: #f1f1f1;
 }
 
 /* Position and style the close button (top right corner) */
 .sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
   background-color: inherit;
   padding: 0;
 }
 
 /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
 #main {
   transition: margin-left .5s;
   padding: 20px;
 }
 
 /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
 }