.bg-nav{
  background-color: #dabb5b;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(120,120,120,1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(120,120,120,1);
  box-shadow: 0px 5px 5px 0px rgba(120,120,120,1);  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.buttons{
  display: flex;
  height: 70px;
}
.nav-button{
  height: fit-content;
  margin: 10px;
  padding: 5px 15px;
  border-radius: 5px;
   background-color: inherit;
   border: none;
   font-size: 20pt;
   color: #64500f;
   transition: 0.3s;
}
.nav-button:hover{
  background-color: #907419;
  color: white;
  transition: 0.3s;
}
.nav-logo{
   width: 150px;
}
.spacer-menu{
   height: 50px;   
}
.sidenav {
   height: calc(100% - 90px); 
   position: fixed;
   z-index: 1;
   top: 90px; 
   left: 0;
   background-color: #807e7e; 
   overflow-x: hidden; 
   padding-top: 60px; 
   transition: 0.5s; 
 }
 
 .sidenav a {
   padding: 14px 8px 14px 32px;
   margin: 5px 0px;
   text-decoration: none;
   font-size: 14pt;
   color: #FFFFFF;
   display: block;
   transition: 0.3s;
   background-color: #f2c94c;
 }
 .sidenav a:hover {
  background-color: #907419;
   color: #f1f1f1;
   transition: 0.3s;
 }
 .sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
   background-color: inherit;
   padding: 0;
 }

 #main {
   transition: margin-left .5s;
   padding: 20px;
 }
 @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
 }